#
# Neos CMS aliases
#
alias neos_create_admin="flow user:create admin admin Admin User --roles=Administrator"
alias neos_create_project="composer create-project neos/neos-base-distribution "
alias noex="neos_open_exeption"
alias nkl="neos_kill_logs"
alias nkt="neos_kill_temp"
alias nkc="neos_kill_cache"
alias nka="nkt && nkl && nkc"
alias nnp="neos_create_project"

#
# Other dev aliases
#
alias docker-restart="docker-compose down && docker-compose up -d"
alias crnu="composer require --no-update"
alias pa="php artisan"
alias code-here="code -r ."

#
# Small helper
#
alias refresh="hash -r"
alias unixts="php -r 'echo time();' | pbcopy"
alias rndstr="openssl rand -hex"
alias nano="/usr/local/bin/nano"
alias ssh="ssh -o ServerAliveInterval=10"
alias ssh-key-copy="cat ~/.ssh/id_rsa.pub | pbcopy"
